<div class="panel panel-default">
  <div class="panel-heading"><div class="panel-header-text">Edit Story</div></div>
    <div class="panel-body">
      {{#if errorMessage}}
        <div class="alert alert-danger">
          {{errorMessage}}
        </div>
      {{/if}}
      <form {{action editStory on='submit'}}>
        {{input-text label="Name" placeholder="Enter story name" value=name formController=controller required=true autofocus=true}}
        <div class="form-group">
          <label class="control-label">Description</label>
          {{textarea value=description rows=4 class="form-control input-lg" placeholder="Enter description here.."}}
        </div><!-- form-group -->
        <div class="row">
          <div class="col-sm-12 col-md-2 form-group">
            <label class="control-label">Status</label>
            {{view Ember.Select class="form-control input-lg" content=statuses selection=stat}}
          </div><!-- col-sm-12 -->
          <div class="col-sm-12 col-md-2 form-group">
            <label class="control-label">Customer</label>
            {{view Ember.Select class="form-control input-lg" content=customers selection=customer}}
          </div><!-- col-sm-12 -->
          <div class="col-sm-12 col-md-2 form-group">
            <label class="control-label">Priority</label>
            {{view Ember.Select class="form-control input-lg" content=priorities selection=priority}}
          </div><!-- col-sm-12 -->
          <div class="col-sm-12 col-md-2 form-group">
            <label class="control-label">Disposition</label>
            {{view Ember.Select class="form-control input-lg" content=dispositions selection=disposition}}
          </div><!-- col-sm-12 -->
          <div class="col-sm-12 col-md-2 form-group">
            <label class="control-label">Tracker</label>
            {{view Ember.Select class="form-control input-lg" content=trackers selection=tracker}}
          </div><!-- col-sm-12 -->
          <div class="col-sm-12 col-md-2 form-group">
            <label class="control-label">Estimate</label>
            {{view Ember.Select class="form-control input-lg" content=estimates selection=estimate}}
          </div><!-- col-sm-12 -->
        </div><!-- row -->
        
    </div> <!-- panel-body -->
  <div class="panel-footer" style="text-align:right">
    {{#link-to 'story' class="btn btn-no-rc btn-danger"}}Cancel{{/link-to}}
    {{#submit-button formController=controller tag="span"}}Update{{/submit-button}}
  </div>
  </form>
</div><!-- panel -->