<div class="container">
{{outlet}}

<div class="page-header">
  <h1 class="span">Vacations
  {{#linkTo 'vacations.new' class="btn btn-success btn-lg pull-right"}} <span class="glyphicon glyphicon-plus"></span>New{{/linkTo}}</h1>
</div>
<div class="form-group input-group">
  <input type="search" class="form-control" placeholder="Search vacations">
  <span class="input-group-addon glyphicon glyphicon-search"></span>
</div>

<ul class="list-group list-group-hover">
  {{#each item in this.vacations}}
  <li class="list-group-item">
    <h4 class="list-group-item-heading">{{#linkTo 'vacation' item }}{{item.id}}{{/linkTo}}</h4>
    <p class="list-group-item-text">{{item.fromDate}}</p>
    <p class="list-group-item-text">{{item.toDate}}</p>
    <p class="list-group-item-text">{{item.comments}}</p>
  </li>
  {{else}}
  <li class="list-group-item"> Go create some vacations. </li>
  {{/each}}
</ul>
</div><!-- container -->