<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">New Vacation</div>
    <div class="panel-body">
      <form class="form-vertical" role="form" {{action addVacation on="submit"}}>
        <div class="form-group">
          <label for="scdr-vacation-new-from" class="control-label">From Date</label>
          {{input id="scdr-vacation-new-from" class="form-control" type="date" placeholder="From Date" valueBinding="fromDate" autofocus="true" required="true"}}
          <code class="help-block hide">error</code>
        </div>
        <div class="form-group">
          <label for="scdr-vacation-new-to" class="control-label">To Date</label>
          {{input id="scdr-vacation-new-to" class="form-control" type="date" placeholder="To Date" valueBinding="toDate"}}
          <code class="help-block hide">error</code>
        </div>
        <div class="form-group">
          <label for="scdr-vacation-new-comments" class="control-label">Comments</label>
          {{textarea id="scdr-vacation-new-comments" class="form-control"  placeholder="Comments" valueBinding="comments"}}
          <code class="help-block hide">error</code>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
        <button class="btn btn-danger" {{action cancelVacation}}>Cancel</button>
      </form>
    </div><!-- panel-body -->
  </div><!-- panel -->
</div><!-- container -->