<div class="page-heading">
  <h2 class="page-title">
    <i class="icon-user-7"></i> Profiles
  </h2>
</div>


{{#each}}
<div class="panel panel-default">
  <form {{action updateProfile on='submit'}}>
    <div class="panel-body">
      {{#if errorMessage}}<div class="alert alert-danger">{{errorMessage}}</div>{{/if}}
          <div class="row">
            <div class="col-sm-12 col-md-6">
              {{input-text label="First Name" placeholder="First Name" value=firstname formController=controller required=true autofocus=true}}
            </div>
            <div class="col-sm-12 col-md-6">
              {{input-text label="Last Name" placeholder="Last Name" value=lastname formController=controller}}
            </div>
          </div><!-- row -->
    </div> <!-- panel-body -->
    <div class="panel-footer" style="text-align:right">
      {{#link-to 'projects' class="btn btn-no-rc btn-danger"}}Cancel{{/link-to}}
      {{#submit-button formController=controller tag="span"}}Update{{/submit-button}}
    </div>
  </form>
</div><!-- panel -->
{{else}}
<div class="panel panel-default">
  <form {{action updateProfile on='submit'}}>
    <div class="panel-body">
      {{#if errorMessage}}<div class="alert alert-danger">{{errorMessage}}</div>{{/if}}
          <div class="row">
            <div class="col-sm-12 col-md-6">
              {{input-text label="First Name" placeholder="First Name" value=firstname formController=controller required=true autofocus=true}}
            </div>
            <div class="col-sm-12 col-md-6">
              {{input-text label="Last Name" placeholder="Last Name" value=lastname formController=controller}}
            </div>
          </div><!-- row -->
    </div> <!-- panel-body -->
    <div class="panel-footer" style="text-align:right">
      {{#link-to 'projects' class="btn btn-no-rc btn-danger"}}Cancel{{/link-to}}
      {{#submit-button formController=controller tag="span"}}Save{{/submit-button}}
    </div>
  </form>
</div><!-- panel -->
{{/each}}
