<ol class="breadcrumb breadcrumb-main">
  <li>Projects</li>
</ol>
<div class="page-heading-x">
  <h2 class="page-title">
    <i class="icon-newspaper-2"></i> Projects
  </h2>
  {{#link-to 'projects.new' class="btn btn-circle btn-success pull-right"}} <i class="icon-plus"></i>{{/link-to}}
</div>
{{outlet}}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">
      {{input type="search" value=filterText class="form-control" placeholder="Filter projects" autofocus=true}}
      <span class="input-group-addon glyphicon icon-search-3" style="top: 0;border-radius: 0;"></span>
    </div>
  </div>
  <div id="sm-projects-list1" class="panel-body panel-body-nopad">
    <ul class="list-group list-group-mp" style="margin: 0;">
      {{#each item in filteredContent}}
      <li class="list-group-item">
        <i class="indicator available glyphicon glyphicon-chevron-right pull-right"></i>
        {{#link-to 'project' item}}<h4>{{item.name}}</h4>{{/link-to}}
        <p class="list-group-item-desc">{{item.id}}</p>
      </li>
      {{else}}
      <li class="list-group-item">
        <h4 style="text-align: center;">Go create some projects.</h4>
      </li>
      {{/each}}
    </ul>
  </div> <!-- panel-body -->
</div><!-- panel -->
</div>