<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-header-text">Project: <span class="text-success">{{name}}</span></span>
    <span class="pull-right" style="margin-top: -5px;">
      {{#link-to 'project.edit' class="btn btn-no-rc btn-primary"}}Edit{{/link-to}}
      <a {{action deleteProject}} class="btn btn-no-rc btn-danger">Delete</a>
    </span>
  </div>
  <div class="panel-body panel-body-nopad">
    <ul class="list-group list-group-mp" style="margin: 0;">
      <li class="list-group-item">
        <p class="list-group-item-desc">Id: {{id}}</p>
        <p class="list-group-item-desc">etag: {{etag}}</p>
      </li>
    </ul>
  </div> <!-- panel-body -->
</div><!-- panel -->
{{outlet}}

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="page-heading-x">
      <h2 class="page-title">
        <i class="icon-stack"></i> Sprints ({{count}})
      </h2>
      {{#link-to 'project.new' class="btn btn-circle btn-success pull-right"}} <i class="icon-plus"></i>{{/link-to}}
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="input-group">
          {{input type="search" value=search class="form-control" placeholder="Search sprints" autofocus=true tabindex=1}}
          <span class="input-group-addon glyphicon icon-search-3" style="top: 0;border-radius: 0;"></span>
        </div>
      </div>
      <div id="sm-sprint-list" class="panel-body panel-body-nopad">
        <ul class="list-group list-group-mp" style="margin: 0;">
          {{#each o in sprints}}
          <li class="list-group-item">
            <i class="indicator available icon-radio-checked pull-right"></i>
            {{#link-to 'sprint' o}}<h4>{{o.name}}</h4>{{/link-to}}
            <p class="list-group-item-desc">{{o.id}}</p>
          </li>
          {{else}}
          <li class="list-group-item">
            <h4 style="text-align: center;">Go create some sprints.</h4>
          </li>
          {{/each}}
        </ul>
      </div> <!-- panel-body -->
    </div><!-- panel -->
  </div><!-- col-md-6 -->
  <div class="col-md-6 col-sm-12">
    <div class="page-heading-x">
      <h2 class="page-title">
        <i class="icon-archive"></i> Backlogs ({{countBacklog}})
      </h2>
      {{#link-to 'project.log' class="btn btn-circle btn-success pull-right"}} <i class="icon-plus"></i>{{/link-to}}
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="input-group">
          {{input type="search" value=searchBacklog class="form-control" placeholder="Search backlog" tabindex=2 }}
          <span class="input-group-addon glyphicon icon-search-3" style="top: 0;border-radius: 0;"></span>
        </div>
      </div>
      <div id="sm-backlog-list" class="panel-body panel-body-nopad">
        <ul class="list-group list-group-mp" style="margin: 0;">
          {{#each o in controller.backlogs}}
          <li class="list-group-item">
            <div class="btn-group btn-no-rc btn-group-sm btn-hidden pull-right">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                  Add to
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {{#each sprint in controller.sprints}}
                  <li><a {{action addToSprint o sprint}}>{{sprint.name}}</a></li>
                  {{/each}}
                </ul>
              </div>
              {{#link-to 'project.editLog' o class="btn btn-primary" }}Edit{{/link-to}}
              {{!-- <a class="btn btn-primary" {{action editLog o}}>Edit</a> --}}
              <a class="btn btn-danger" {{action deleteLog o}}>Delete</a>
            </div>
            <h4>{{o.name}}</h4>
            <p class="list-group-item-desc">{{o.description}}</p>
          </li>
          {{else}}
          <li class="list-group-item">
            <h4 style="text-align: center;">Go add some backlog.</h4>
          </li>
          {{/each}}
        </ul>
      </div> <!-- panel-body -->
    </div><!-- panel -->
  </div><!-- col-md-6 -->
</div><!-- row -->
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="page-heading-x">
      <h2 class="page-title">
        <i class="icon-users-3"></i> Members ({{countMember}})
      </h2>
      {{#link-to 'project.add' class="btn btn-circle btn-success pull-right"}} <i class="icon-plus"></i>{{/link-to}}
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="input-group">
          {{input type="search" value=searchMember class="form-control" placeholder="Search members" tabindex=3 }}
          <span class="input-group-addon glyphicon icon-search-3" style="top: 0;border-radius: 0;"></span>
        </div>
      </div>
      <div id="sm-people-list" class="panel-body panel-body-nopad">
        <ul class="list-group list-group-mp" style="margin: 0;">
          {{#each o in people}}
          <li class="list-group-item">
            <div class="btn btn-danger btn-hidden pull-right" {{action removeMember o}}>Remove</div>
            {{!-- {{#link-to 'sprint' o}}<h4>{{o.name}}</h4>{{/link-to}} --}}
            <h4>{{o.firstname}} {{o.lastname}}</h4>
            <p class="list-group-item-desc">{{o.id}}</p>
          </li>
          {{else}}
          <li class="list-group-item">
            <h4 style="text-align: center;">Go add some team members.</h4>
          </li>
          {{/each}}
        </ul>
      </div> <!-- panel-body -->
    </div><!-- panel -->
  </div><!-- col-md-6 -->
</div>