<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead">{{name}}</span>
      <div class="container pull-right">
        {{#link-to 'project.edit' this class="btn btn-primary btn-xs"}}Edit{{/link-to}}
        <a {{action deleteProject}} class="btn btn-danger btn-xs">Delete</a>
      </div>
    </div>
    <div class="panel-body">
        <span class="label label-default-transparent pull-right">{{id}}</span>
      <p>{{desc}}</p>
    </div><!-- panel-body -->
  </div><!-- panel -->
  <div class="container">
    {{outlet}}
  </div>
</div><!-- container -->