<ol class="breadcrumb breadcrumb-main">
  <li>Projects</li>
</ol>
<div class="page-heading-x">
  <h2 class="page-title">
    <i class="icon-newspaper-2"></i> Projects ({{count}})
  </h2>
  {{#link-to 'projects.new' class="btn btn-circle btn-success pull-right"}} <i class="icon-plus"></i>{{/link-to}}
</div>

{{outlet}}

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">
      {{input type="search" value=search class="form-control" placeholder="Search projects" autofocus=true}}
      <span class="input-group-addon glyphicon icon-search-3" style="top: 0;border-radius: 0;"></span>
    </div>
  </div>
  <div id="sm-projects-list" class="panel-body panel-body-nopad">
    <ul class="list-group list-group-mp" style="margin: 0;">
      {{#if isLoading}}
        <li class="list-group-item"> Go create some projects. </li>
      {{/if}}
      {{#each}}
      <li class="list-group-item">
        <i class="indicator available icon-radio-checked pull-right"></i>
        {{#link-to 'project' this}}<h4>{{name}}</h4>{{/link-to}}
        <p class="list-group-item-desc">{{id}}</p>
      </li>
      {{else}}
      <h4 style="text-align: center;">Go create some projects.</h4>
      {{/each}}
    </ul>
  </div> <!-- panel-body -->
</div><!-- panel -->
</div>

