<ol class="breadcrumb breadcrumb-main">
  <li>{{#link-to 'projects'}}Project{{/link-to}}</li>
  <li>{{name}}</li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-header-text">Sprint: <span class="text-success">{{name}}</span></span>
    <span class="pull-right" style="margin-top: -5px;">
      {{#link-to 'sprint.edit' class="btn btn-no-rc btn-primary"}}Edit{{/link-to}}
      <a {{action deleteSprint}} class="btn btn-no-rc btn-danger">Delete</a>
    </span>
  </div>
  <div class="panel-body panel-body-nopad">
    <ul class="list-group list-group-mp" style="margin: 0;">
      <li class="list-group-item">
        <p class="list-group-item-desc">Id: {{id}}</p>
        <p class="list-group-item-desc">etag: {{etag}}</p>
      </li>
    </ul>
  </div> <!-- panel-body -->
</div><!-- panel -->
{{outlet}}
<div class="page-heading-x">
  <h2 class="page-title">
    <i class="icon-chat-3"></i> Stories
  </h2>
  {{#link-to 'sprint.new' class="btn btn-circle btn-success pull-right"}} <i class="icon-plus"></i>{{/link-to}}
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">
      {{input type="search" value=filterText class="form-control" placeholder="Filter stories" autofocus=true}}
      <span class="input-group-addon glyphicon icon-search-3" style="top: 0;border-radius: 0;"></span>
    </div>
  </div>
  <div class="panel-body panel-body-nopad">
    <ul class="list-group list-group-mp" style="margin: 0;">
      {{#each item in filteredContent}}
      <li class="list-group-item">
        <i class="indicator available glyphicon glyphicon-chevron-right pull-right"></i>
        {{#link-to 'story' item}}<h4>{{item.name}}</h4>{{/link-to}}
        <p class="list-group-item-desc">{{item.id}}</p>
      </li>
      {{else}}
      <li class="list-group-item">
        <h4 style="text-align: center;">Go create some stories.</h4>
      </li>
      {{/each}}
    </ul>
  </div> <!-- panel-body -->
</div><!-- panel -->
</div>